table{
    border-collapse: collapse;
    width: 100%;    
}
table, th, td{
    border: 1px solid black;
    color: rgba(17, 16, 16, 01)
}

#calendarTable td:hover{
    background-color: rgba(0,0,0,.1);
}
#calendarTable .schedule{
    visibility: hidden;
}